<!-- Sidebar -->
<div class="panel bgc-white" ng-class="{ 'panel--is-opened': Layout.panelIsOpened }">
    <!-- Header -->
    <header class="panel-header bgc-red-600 tc-white">
        <div class="toolbar">
            <div class="toolbar__left">
                <button class="btn btn--l btn--white btn--icon" lx-ripple ng-click="Layout.closePanel()">
                    <i class="mdi mdi--close"></i>
                </button>
            </div>

            <div class="toolbar__right">
                <button class="btn btn--l btn--white btn--icon" lx-ripple ng-click="editFile(selectedFile)">
                    <i class="mdi mdi--edit"></i>
                </button>

                <button class="btn btn--l btn--white btn--icon" lx-ripple ng-click="deleteFile(selectedFile)">
                    <i class="mdi mdi--delete"></i>
                </button>
            </div>
        </div>

        <div class="panel-header__title">
            <strong class="fs-subhead">{{ selectedFile.name }}</strong>
            <span class="fs-body1 tc-white-2">List of tweets</span>
        </div>
    </header>
    <!-- /Header -->
    
    
    <!-- Content -->
    <div class="panel-content">
        <ul class="list">    
            <li ng-repeat="tweet in tweets" class="tweet">
                {{ tweet.tweet }}
                <span class="date">{{ tweet.date }}</date>
            </li>
        </ul>
    </div>
    <!-- /Content -->
</div>
<!-- /Sidebar> -->