<header class="header bgc-blue-500 z-depth1">
    <div class="toolbar">
        <div class="toolbar__left">
        <img title="TweetFetcher" src="images/twitter_logo.png" style="width:5%;height:5%">
            <!-- <button class="btn btn--l btn--white btn--icon" lx-ripple ng-click="Layout.toggleSidebar()">
                <i class="mdi mdi--menu"></i>
            </button> -->
        </div>

        <div class="toolbar__right">
            <button class="btn btn--l btn--white btn--icon" lx-ripple ng-click="updateData()">
                <i class="mdi mdi--refresh"></i>
            </button>

            <!--<button class="btn btn--l btn--white btn--icon" lx-ripple>
                <i class="mdi mdi--apps"></i>
            </button> -->
            
            <lx-search-filter closed theme="light" model="data.filter"></lx-search-filter>
        </div>
    </div>

    <h1 class="header__title fs-display1 tc-white">Tweet Fetcher</h1>
    <button class="header__fab btn btn--xl btn--white btn--fab" lx-ripple ng-click="userManagement()">
        <i class="mdi mdi--add"></i>
    </button>
</header>