<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TweetFetcher</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>A server servlet providing a simple database of posted tweets on the Twitter.</description>
    <display-name>FetcherServer</display-name>
    <servlet-name>FetcherServer</servlet-name>
    <servlet-class>com.tweetfetcher.server.FetcherServer</servlet-class>
  </servlet>
<servlet>
    <description>A server servlet providing a simple client to retrieve posted tweets from the database.</description>
    <display-name>FetcherClient</display-name>
    <servlet-name>FetcherClient</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.tweetfetcher.client</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>FetcherServer</servlet-name>
    <url-pattern>/server</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FetcherClient</servlet-name>
    <url-pattern>/client/*</url-pattern>
  </servlet-mapping>
</web-app>